anyio
asgiref
beautifulsoup4
certifi
charset-normalizer
click
colorama
contextlib2
contextvars
dataclasses
Django
djangorestframework
fastapi
greenlet
h11
idna
immutables
importlib-metadata
pydantic
python-dotenv
pytz
requests
selenium
sniffio
soupsieve
SQLAlchemy
sqlparse
starlette
typing_extensions
urllib3
uvicorn
webdriver-manager
wincertstore
zipp
